.signup-container,
.login-container {
  min-width: 380px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 20px 30px;
}

.login-container input {
  margin: 10px 0 0 0;
}

.login-container h5 {
  margin: 0 auto;
}

h1 {
  font-size: 26px;
}

h4 {
  font-weight: 500;
  margin: 14px 0 10px 0;
}

input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

p {
  font-size: 14px;
  margin: 0 0 10px 0;
  color: rgb(255, 88, 88);
}

select {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin-bottom: 6px;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid black;
}

button {
  color: white;
  cursor: pointer;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: rgb(52, 152, 219);
  padding: 14px 0;
  margin: 20px 0;
}

button:hover {
  background-color: rgb(39, 116, 167);
}
